
.reveal h1,
.reveal h2,
.reveal h3 {
  text-transform: none;
}

.reveal h1 {
  color: #666;
}

.reveal section img {
  border: 0;
  max-height: 60vh;
  box-shadow: none;
}

.reveal a:hover img {
  box-shadow: none;
}

.reveal section .avatar {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  margin: 0 0 0 12px;
  vertical-align: bottom;
}

.tech-stuff h2 {
  position: absolute;
  left: 0;
  top: -40px;
  padding: 5px 20px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.1);
}

.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack > * {
  width: 23%;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}

.side-by-side > * {
  width: 45%;
}

.team {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team > * {
  width: 27%;
}

.team img,
.alumni img {
  border-radius: 50%;
}

.team h3 {
  font-size: 1em;
}

.team p {
  font-size: 0.8em;
}

.alumni > div {
  display: flex;
}

.alumni p {
  align-self: center;
  margin-left: 15px;
}

.feedback a {
  text-align: center;
}

.feedback a:hover img {
  box-shadow: none;
}

.fixed-link {
  position: fixed;
  font-size: 1rem;
  left: 5px;
  top: 5px;
  color: #6ca0e8;
  text-decoration: none;
  z-index: 1;
}
